<template>
  <div
    class="w-full md:w-auto absolute md:top-[40px] md:left-[60px] z-[2] flex gap-4 py-8 px-6 md:px-0 md:py-0 bg-transparent"
  >
    <div class="relative flex-1 md:min-w-[350px]">
      <input
        class="pl-8 pr-8 py-3 text-sm focus:outline-none w-full rounded-md shadow-md"
        type="text"
        placeholder="Start your search"
        v-model="searchInput"
        @input="search"
        @focus="$emit('toggleSearchResults')"
      />
      <div class="absolute top-0 left-[8px] h-full flex items-center">
        <i class="fas fa-search"></i>
      </div>
      <div class="absolute mt-2 w-full">
        <div
          v-if="searchInput && searchResults"
          class="h-[200px] overflow-scroll overflow-x-hidden bg-white rounded-md"
        >
          <LoadingSpinner v-if="searchData.length == 0" />
          <div
            v-else
            class="px-4 py-2 flex gap-x-2 cursor-pointer hover:bg-slate-600 hover:text-white"
            v-for="(result, index) in searchData"
            :key="index"
            @click="selectResult(result)"
          >
            <i class="fas fa-map-marker-alt"></i>
            <p class="text-xs">{{ result.place_name_en }}</p>
          </div>
        </div>
        <div v-if="selectedResult" class="mt-2 py-3 px-4 bg-white rounded-md">
          <div class="flex justify-end">
            <i
              class="far fa-times-circle cursor-pointer"
              @click="
                selectedResult = null;
                $emit('removeResult');
              "
            ></i>
          </div>
          <h1 class="text-lg">{{ selectedResult.text }}</h1>
          <p class="text-xs mb-1">
            {{ selectedResult.address }}, {{ selectedResult.city }},
            {{ selectedResult.state }}
          </p>
          <p class="text-xs">{{ selectedResult.category }}</p>
        </div>
      </div>
    </div>
    <div
      class="px-4 bg-white flex items-center shadow-md rounded-md min-h-[45px]"
      :class="{ 'bg-slate-600': coords }"
      @click="$emit('getGeolocation')"
    >
      <i
        class="fas fa-location-arrow text-state-600 text-[20px]"
        :class="{ 'text-white': coords, 'animate-pulse': fetchCoords }"
      ></i>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, Ref } from "vue";
import axios from "axios";

import LoadingSpinner from "@/components/LoadingSpinner.vue";
import { Coords } from "@/types";

interface Result {
  place_name_en: string;
  coords: Coords;
  city: string;
  state: string;
  address: string;
  category: string;
  text: string;
}

export default defineComponent({
  props: {
    coords: Object as PropType<Coords>,
    fetchCoords: Boolean,
    searchResults: Boolean,
  },
  components: {
    LoadingSpinner,
  },
  emits: [
    "getGeolocation",
    "plotResult",
    "toggleSearchResults",
    "removeResult",
    "getLocError",
  ],
  setup(props, { emit }) {
    const searchInput: Ref<string | null> = ref(null);
    const searchData: Ref<Array<Result>> = ref([]);
    const queryTimeout: Ref<number | null> = ref(null);
    const TIMEOUT = 750; // ms

    const search = () => {
      // Debounce
      if (queryTimeout.value) {
        clearTimeout(queryTimeout.value);
      }
      searchData.value = [];
      queryTimeout.value = setTimeout(async () => {
        if (!searchInput.value) {
          return;
        }
        console.log(`Searching for ${searchInput.value}`);
        const params = new URLSearchParams({
          fuzzy_match: "true",
          language: "en",
          limit: "10",
          longitude: String(props.coords ? props.coords.longitude : 0),
          latitude: String(props.coords ? props.coords.latitude : 0),
        });
        try {
          const resp = await axios.get(
            `/api/search/${searchInput.value}?${params}`
          );
          console.log(resp);
          searchData.value = resp.data;
        } catch (e) {
          console.log(e);
          emit("getLocError", `Failed to get search data: ${e}`);
        }
      }, TIMEOUT);
    };

    const selectedResult: Ref<Result | null> = ref(null);
    const selectResult = (result: Result) => {
      selectedResult.value = result;
      emit("plotResult", result.coords);
    };
    return { searchInput, searchData, search, selectResult, selectedResult };
  },
});
</script>

<style scoped>
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
</style>
