<template>
  <div class="h-screen relative">
    <GeoErrorModal
      v-if="geoError"
      :geoErrorMessage="geoErrorMessage"
      @closeGeoError="closeGeoError"
    />
    <MapFeatures
      :coords="coords"
      :fetchCoords="fetchCoords"
      :searchResults="searchResults"
      @getGeolocation="getGeolocation"
      @plotResult="plotResult"
      @toggleSearchResults="searchResults = !searchResults"
      @removeResult="removeResult"
      @getLocError="getLocError"
    />
    <div id="map" class="h-full z-[1]"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { onMounted, ref, Ref } from "vue";

import leaflet from "leaflet";

import GeoErrorModal from "@/components/GeoErrorModal.vue";
import MapFeatures from "@/components/MapFeatures.vue";
import { Coords } from "@/types";

export default defineComponent({
  name: "HomeView",
  components: {
    GeoErrorModal,
    MapFeatures,
  },
  setup() {
    let map: leaflet.Map;
    onMounted(() => {
      map = leaflet.map("map");
      leaflet
        .tileLayer(
          `https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=${process.env.VUE_APP_API_KEY}`,
          {
            attribution:
              'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: "mapbox/streets-v11",
            tileSize: 512,
            zoomOffset: -1,
            accessToken: process.env.VUE_APP_API_KEY,
          }
        )
        .addTo(map);

      map.on("moveend", () => {
        searchResults.value = false;
      });

      getGeolocation();
    });
    const coords: Ref<null | Coords> = ref(null);
    const fetchCoords: Ref<boolean> = ref(false);
    const geoMarker: Ref<null | leaflet.Marker> = ref(null);
    let geoErrorMessage: Ref<null | string> = ref(null);

    const getGeolocation = () => {
      if (coords.value && geoMarker.value) {
        coords.value = null;
        map.removeLayer(geoMarker.value);
        return;
      }

      const storedCoords = sessionStorage.getItem("coords");
      if (storedCoords) {
        coords.value = JSON.parse(storedCoords) as Coords;
        plot(coords.value);
      } else {
        fetchCoords.value = true;
        navigator.geolocation.getCurrentPosition(setCoords, getLocError);
      }
    };
    // Hack to prevent the no-undef error
    /* global GeolocationPosition */
    const setCoords = (pos: GeolocationPosition) => {
      fetchCoords.value = false;
      coords.value = {
        latitude: pos.coords.latitude,
        longitude: pos.coords.longitude,
      };
      sessionStorage.setItem("coords", JSON.stringify(coords.value));
      plot(coords.value);
    };
    const plotMarker = (
      coords: null | Coords,
      marker: Ref<leaflet.Marker | null>,
      zoom = 13
    ) => {
      if (coords?.latitude && coords?.longitude) {
        marker.value = leaflet
          .marker([coords.latitude, coords.longitude])
          .addTo(map);
        map.setView([coords.latitude, coords.longitude], zoom);
      }
    };
    const plot = (coords: null | Coords) => {
      plotMarker(coords, geoMarker);
    };

    let geoError: Ref<boolean> = ref(false);
    const getLocError = (err: unknown) => {
      geoError.value = true;
      geoErrorMessage.value = String(err);
    };
    const closeGeoError = () => {
      geoError.value = false;
      geoErrorMessage.value = null;
    };

    const resultMarker: Ref<null | leaflet.Marker> = ref(null);
    const searchResults: Ref<boolean> = ref(false);
    const plotResult = (coords: Coords) => {
      console.log(coords);
      removeResult();
      plotMarker(coords, resultMarker, 14);
      searchResults.value = false;
    };
    const removeResult = () => {
      if (resultMarker.value) {
        map.removeLayer(resultMarker.value);
      }
      resultMarker.value = null;
    };

    return {
      coords,
      fetchCoords,
      geoMarker,
      closeGeoError,
      geoError,
      geoErrorMessage,
      getGeolocation,
      plotResult,
      searchResults,
      removeResult,
      getLocError,
    };
  },
});
</script>
